<?xml version="1.0" encoding="utf-8" ?>
<skin name="YKWS" version="1.1.0" author="jxp" style="position:stage; width:100%; height:100%;" baseURL="">
	<middlearea style="position:relative; width:100%; height:100%; left:0; top:0;">
		<widget id="BufferLoadWidget" url="com.tudou.player.skin.themes.ykws.BufferLoadWidget" style="position:relative; left:50%; top:50%; visible:false;">
			<asset type="symbol" id="BufferLoading" url="com.tudou.player.skin.themes.ykws.BufferLoading"></asset>
		</widget>
		<widget id="ErrorPanel" url="com.tudou.player.skin.themes.ykws.ErrorPanel" style="position:relative; width:272; height:151; left:50%; top:50%; visible:false;">
			<asset type="symbol" id="ErrorPanelBackground" url="com.tudou.player.skin.themes.ykws.ErrorPanelBackground"></asset>
			<asset type="symbol" id="ErrorPanelImage" url="com.tudou.player.skin.themes.ykws.ErrorPanelImage"></asset>
			<button id="CloseButton">
				<asset type="symbol" id="CloseButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CloseButtonNormal"></asset>
				<asset type="symbol" id="CloseButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CloseButtonFocused"></asset>
				<asset type="symbol" id="CloseButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.CloseButtonPressed"></asset>
				<asset type="symbol" id="CloseButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CloseButtonDisabled"></asset>
			</button>
		</widget>
		<widget id="ShorcutKeysPanel" url="com.tudou.player.skin.themes.ykws.ShorcutKeysPanel" style="position:relative;alpha:0;width:340; height:240; left:50%; top:50%; visible:false;">
			<asset type="symbol" id="PanelBackground" url="com.tudou.player.skin.themes.ykws.PanelBackground"></asset>
			<button id="CloseButton">
				<asset type="symbol" id="CloseButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CloseButtonNormal"></asset>
				<asset type="symbol" id="CloseButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CloseButtonFocused"></asset>
				<asset type="symbol" id="CloseButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.CloseButtonPressed"></asset>
				<asset type="symbol" id="CloseButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CloseButtonDisabled"></asset>
			</button>
		</widget>
		<widget id="SetHintInformation" url="com.tudou.player.skin.themes.ykws.SetHintInformation" style="position:relative; height:35; width:300; background:#CC222222; left:50%; top:80%; visible:false;"></widget>
		<widget id="SetPanel" url="com.tudou.player.skin.themes.ykws.SetPanel" style="position:relative; width:340; height:240; left:50%; top:50%; visible:false;">
			<asset type="symbol" id="PanelBackground" url="com.tudou.player.skin.themes.ykws.PanelBackground"></asset>
			<tabbutton id="PlayTabButton" label="播放" style="width:80; height:40; x:10; y:10;">
				<asset type="symbol" id="TabButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.TabButtonNormal"></asset>
				<asset type="symbol" id="TabButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.TabButtonFocused"></asset>
				<asset type="symbol" id="TabButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.TabButtonPressed"></asset>
				<asset type="symbol" id="TabButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.TabButtonDisabled"></asset>
			</tabbutton>
			<tabbutton id="ClarityTabButton" label="色彩" style="width:80; height:40; x:90; y:10;  background:url(com.tudou.player.skin.themes.ykws.TabAreaVline) no-repeat left 10;">
				<asset type="symbol" id="TabButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.TabButtonNormal"></asset>
				<asset type="symbol" id="TabButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.TabButtonFocused"></asset>
				<asset type="symbol" id="TabButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.TabButtonPressed"></asset>
				<asset type="symbol" id="TabButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.TabButtonDisabled"></asset>
			</tabbutton>
			<tabbutton id="ViewTabButton" label="画面" style="width:80; height:40; x:170; y:10;  background:url(com.tudou.player.skin.themes.ykws.TabAreaVline) no-repeat left 10;">
				<asset type="symbol" id="TabButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.TabButtonNormal"></asset>
				<asset type="symbol" id="TabButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.TabButtonFocused"></asset>
				<asset type="symbol" id="TabButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.TabButtonPressed"></asset>
				<asset type="symbol" id="TabButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.TabButtonDisabled"></asset>
			</tabbutton>
			<asset type="symbol" id="TabAreaCline" url="com.tudou.player.skin.themes.ykws.TabAreaCline"></asset>
			<tab name="播放">
				<checkbox id="AllowFullScreenInteractiveCheckbox" label="允许可输入全屏模式" style="x:19; y:10;">
					<asset type="symbol" id="CheckboxNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CheckboxNormal"></asset>
					<asset type="symbol" id="CheckboxFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CheckboxFocused"></asset>
					<asset type="symbol" id="CheckboxDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CheckboxDisabled"></asset>
					<asset type="symbol" id="CheckCheckboxNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckCheckboxNormal"></asset>
					<asset type="symbol" id="CheckCheckboxFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckCheckboxFocused"></asset>
					<asset type="symbol" id="CheckCheckboxDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckCheckboxDisabled"></asset>	
				</checkbox>
				<checkbox id="AutoMatchClarityCheckbox" label="自动匹配清晰度" style="x:19; y:45;">
					<asset type="symbol" id="CheckboxNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CheckboxNormal"></asset>
					<asset type="symbol" id="CheckboxFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CheckboxFocused"></asset>
					<asset type="symbol" id="CheckboxDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CheckboxDisabled"></asset>
					<asset type="symbol" id="CheckCheckboxNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckCheckboxNormal"></asset>
					<asset type="symbol" id="CheckCheckboxFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckCheckboxFocused"></asset>
					<asset type="symbol" id="CheckCheckboxDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckCheckboxDisabled"></asset>	
				</checkbox>
				<checkbox id="ShowRightToolCheckbox" label="显示右侧小助手" style="x:19; y:80;">
					<asset type="symbol" id="CheckboxNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CheckboxNormal"></asset>
					<asset type="symbol" id="CheckboxFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CheckboxFocused"></asset>
					<asset type="symbol" id="CheckboxDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CheckboxDisabled"></asset>
					<asset type="symbol" id="CheckCheckboxNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckCheckboxNormal"></asset>
					<asset type="symbol" id="CheckCheckboxFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckCheckboxFocused"></asset>
					<asset type="symbol" id="CheckCheckboxDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckCheckboxDisabled"></asset>	
				</checkbox>
				<switchbutton id="HardwareAccelerateSwitchButton" style="x:230; y:10;">
					<asset type="symbol" id="SwitchOnNormal" state="OnNormal" url="com.tudou.player.skin.themes.ykws.SwitchOnNormal"></asset>
					<asset type="symbol" id="SwitchOffNormal" state="OffNormal" url="com.tudou.player.skin.themes.ykws.SwitchOffNormal"></asset>	
					<asset type="symbol" id="SwitchOnFocused" state="OnFocused" url="com.tudou.player.skin.themes.ykws.SwitchOnFocused"></asset>	
					<asset type="symbol" id="SwitchOffFocused" state="OffFocused" url="com.tudou.player.skin.themes.ykws.SwitchOffFocused"></asset>	
					<asset type="symbol" id="SwitchOnDisabled" state="OnDisabled" url="com.tudou.player.skin.themes.ykws.SwitchOnDisabled"></asset>	
					<asset type="symbol" id="SwitchOffDisabled" state="OffDisabled" url="com.tudou.player.skin.themes.ykws.SwitchOffDisabled"></asset>	
				</switchbutton>
			</tab>
			<tab name="色彩">
				<sliderbar id="BrightnessSliderBar" name="亮度" style="x:70; y:10; width:165; height:10; background:url(com.tudou.player.skin.themes.ykws.SliderBarBackground) repeat-x left top;">
					<asset type="symbol" id="SliderBarTracker" state="Track" url="com.tudou.player.skin.themes.ykws.SliderBarTracker"></asset>
					<asset type="symbol" id="SliderBarSliderNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.SliderBarSliderNormal"></asset>
					<asset type="symbol" id="SliderBarSliderFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.SliderBarSliderFocused"></asset>
					<asset type="symbol" id="SliderBarSliderPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.SliderBarSliderPressed"></asset>
					<asset type="symbol" id="SliderBarSliderDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.SliderBarSliderDisabled"></asset>
				</sliderbar>
				<sliderbar id="ContrastSliderBar" name="对比度" style="x:70; y:40; width:165; height:10; background:url(com.tudou.player.skin.themes.ykws.SliderBarBackground) repeat-x left top;">
					<asset type="symbol" id="SliderBarTracker" state="Track" url="com.tudou.player.skin.themes.ykws.SliderBarTracker"></asset>
					<asset type="symbol" id="SliderBarSliderNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.SliderBarSliderNormal"></asset>
					<asset type="symbol" id="SliderBarSliderFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.SliderBarSliderFocused"></asset>
					<asset type="symbol" id="SliderBarSliderPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.SliderBarSliderPressed"></asset>
					<asset type="symbol" id="SliderBarSliderDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.SliderBarSliderDisabled"></asset>
				</sliderbar>
				<sliderbar id="SaturationSliderBar" name="饱和度" style="x:70; y:70; width:165; height:10; background:url(com.tudou.player.skin.themes.ykws.SliderBarBackground) repeat-x left top;">
					<asset type="symbol" id="SliderBarTracker" state="Track" url="com.tudou.player.skin.themes.ykws.SliderBarTracker"></asset>
					<asset type="symbol" id="SliderBarSliderNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.SliderBarSliderNormal"></asset>
					<asset type="symbol" id="SliderBarSliderFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.SliderBarSliderFocused"></asset>
					<asset type="symbol" id="SliderBarSliderPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.SliderBarSliderPressed"></asset>
					<asset type="symbol" id="SliderBarSliderDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.SliderBarSliderDisabled"></asset>
				</sliderbar>
				<radiobutton id="custom" label="定制" style="x:70; y:100;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<radiobutton id="bright" label="明亮" style="x:128; y:100;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<radiobutton id="vivid" label="生动" style="x:185; y:100;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<radiobutton id="theatre" label="剧院" style="x:240; y:100;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
			</tab>
			<tab name="画面">
				<radiobutton id="original" label="原比例" style="x:75; y:11;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<radiobutton id="4:3" label="4:3" style="x:163; y:11;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<radiobutton id="16:9" label="16:9" style="x:231; y:11;">
					<asset type="symbol" id="RadioButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RadioButtonNormal"></asset>
					<asset type="symbol" id="RadioButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RadioButtonFocused"></asset>
					<asset type="symbol" id="RadioButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RadioButtonDisabled"></asset>
					<asset type="symbol" id="CheckRadioButtonNormal" state="CheckNormal" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonNormal"></asset>
					<asset type="symbol" id="CheckRadioButtonFocused" state="CheckFocused" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonFocused"></asset>
					<asset type="symbol" id="CheckRadioButtonDisabled" state="CheckDisabled" url="com.tudou.player.skin.themes.ykws.CheckRadioButtonDisabled"></asset>	
				</radiobutton>
				<sliderbar id="ZoomSliderBar" name="缩放" style="x:76; y:55; width:150; height:10; background:url(com.tudou.player.skin.themes.ykws.SliderBarBackground) repeat-x left top;">
					<asset type="symbol" id="SliderBarTracker" state="Track" url="com.tudou.player.skin.themes.ykws.SliderBarTracker"></asset>
					<asset type="symbol" id="SliderBarSliderNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.SliderBarSliderNormal"></asset>
					<asset type="symbol" id="SliderBarSliderFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.SliderBarSliderFocused"></asset>
					<asset type="symbol" id="SliderBarSliderPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.SliderBarSliderPressed"></asset>
					<asset type="symbol" id="SliderBarSliderDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.SliderBarSliderDisabled"></asset>
				</sliderbar>
				<button id="LeftRotationButton">
					<asset type="symbol" id="LeftRotationButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.LeftRotationButtonNormal"></asset>
					<asset type="symbol" id="LeftRotationButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.LeftRotationButtonFocused"></asset>
					<asset type="symbol" id="LeftRotationButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.LeftRotationButtonPressed"></asset>
					<asset type="symbol" id="LeftRotationButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.LeftRotationButtonDisabled"></asset>
				</button>
				<button id="RightRotationButton">
					<asset type="symbol" id="RightRotationButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.RightRotationButtonNormal"></asset>
					<asset type="symbol" id="RightRotationButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.RightRotationButtonFocused"></asset>
					<asset type="symbol" id="RightRotationButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.RightRotationButtonPressed"></asset>
					<asset type="symbol" id="RightRotationButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.RightRotationButtonDisabled"></asset>
				</button>
				<button id="VideoFlipButton">
					<asset type="symbol" id="VideoFlipButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.VideoFlipButtonNormal"></asset>
					<asset type="symbol" id="VideoFlipButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.VideoFlipButtonFocused"></asset>
					<asset type="symbol" id="VideoFlipButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.VideoFlipButtonPressed"></asset>
					<asset type="symbol" id="VideoFlipButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.VideoFlipButtonDisabled"></asset>
				</button>
			</tab>
		</widget>
		<widget id="LargeButton" url="com.tudou.player.skin.themes.ykws.LargeButton" style="position:relative; width:60; height:60; left:50%; top:50%; visible:false;">
			<asset type="symbol" id="LargeButtonMc" url="com.tudou.player.skin.themes.ykws.LargeButtonMc"></asset>
		</widget>
	</middlearea>
	<toparea autohide="true" hidestyle="top:-30; alpha:0;" showstyle="top:0; alpha:1;" style="position:relative; width:100%; height:30; left:0; top:-30; background:#E1161619; visible:false;">
		<widget id="VideoTitleLabel" url="com.tudou.player.skin.themes.ykws.VideoTitleLabel" style="y:5; x:5; width:33%; height:20; visible:false;"></widget>
		<widget id="LocalTime" url="com.tudou.player.skin.themes.ykws.LocalTime" style="position:relative; top:7; right:100; width:50; height:16;">
			<asset type="symbol" id="LocalTimeNumber" url="com.tudou.player.skin.themes.ykws.LocalTimeNumber"></asset>
		</widget>
		<widget id="ExitFullScreenButton" url="com.tudou.player.skin.themes.ykws.ExitFullScreenButton" style="position:relative; right:0; top:-5; width:40; height:40;" alt="退出全屏">
			<asset type="symbol" id="FullScreenLeaveButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonNormal"></asset>
			<asset type="symbol" id="ExitFullScreenButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonFocused"></asset>
			<asset type="symbol" id="FullScreenLeaveButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonFocused"></asset>
			<asset type="symbol" id="FullScreenLeaveButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonDisabled"></asset>
		</widget>
	</toparea>
	<bottomarea autohide="false" hidestyle="bottom:-40; alpha:1;" showstyle="bottom:0; alpha:1;" style="position:relative; width:100%; height:40; left:0; bottom:0; background:url(com.tudou.player.skin.themes.ykws.BottomAreaBackground) repeat-x left top;">
		<widget id="InformationWidget" url="com.tudou.player.skin.themes.ykws.InformationWidget" style="visible:false; alpha:0; width:100%; height:21; y:-21; background:#66000000 url(com.tudou.player.skin.themes.ykws.InfomationIcon) no-repeat 5 0;">
			<button id="CloseButton">
				<asset type="symbol" id="CloseButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.CloseButtonNormal"></asset>
				<asset type="symbol" id="CloseButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.CloseButtonFocused"></asset>
				<asset type="symbol" id="CloseButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.CloseButtonPressed"></asset>
				<asset type="symbol" id="CloseButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.CloseButtonDisabled"></asset>
			</button>
		</widget>
		<widget id="ToggleStopButton" url="com.tudou.player.skin.themes.ykws.ToggleStopButton" style="float:left; y:0; width:50; height:40; ">
			<button id="PlayButton" alt="播放">
				<asset type="symbol" id="PlayButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.TogglePauseButtonPlayNormal"></asset>
				<asset type="symbol" id="PlayButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.TogglePauseButtonPlayFocused"></asset>
				<asset type="symbol" id="PlayButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.TogglePauseButtonPlayPressed"></asset>
				<asset type="symbol" id="PlayButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.TogglePauseButtonPlayDisabled"></asset>
			</button>
			<button id="StopButton" alt="停止">
				<asset type="symbol" id="StopButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.ToggleStopButtonStopNormal"></asset>
				<asset type="symbol" id="StopButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.ToggleStopButtonStopFocused"></asset>
				<asset type="symbol" id="StopButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.ToggleStopButtonStopPressed"></asset>
				<asset type="symbol" id="StopButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.ToggleStopButtonStopDisabled"></asset>
			</button>
			<extendarea id="ToggleStopPlayAnimation" style="visible:true; x:4; y:1; width:40; height:39;">
				<asset type="symbol" id="TogglePlayAnimation" state="Disabled" url="com.tudou.player.skin.themes.ykws.TogglePlayAnimation"></asset>
				<asset type="symbol" id="TogglePauseAnimation" state="Disabled" url="com.tudou.player.skin.themes.ykws.TogglePauseAnimation"></asset>
			</extendarea>
		</widget>
		<widget id="ReConnectButton" url="com.tudou.player.skin.themes.ykws.ReConnectButton" style="visible:false; float:left; y:0; width:40; height:40;" alt="重新连接">
			<asset type="symbol" id="ReConnectButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.ReConnectButtonNormal"></asset>
			<asset type="symbol" id="ReConnectButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.ReConnectButtonFocused"></asset>
			<asset type="symbol" id="ReConnectButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.ReConnectButtonPressed"></asset>
			<asset type="symbol" id="ReConnectButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.ReConnectButtonDisabled"></asset>
		</widget>
		<widget id="BottomYouKuLogo" style="visible:false;float:right; width:60; height:40; background:url(com.tudou.player.skin.themes.ykws.BottomYouKuLogo) no-repeat;"></widget>
		<widget id="ToggleFullScreenButton" url="com.tudou.player.skin.themes.ykws.ToggleFullScreenButton" style="float:right; width:40; height:40; " fullbackground="width:100%; height:40; background:url(com.tudou.player.skin.themes.ykws.BlackBottomAreaBackground) repeat-x left top;">
			<button id="FullScreenEnterButton" alt="全屏">
				<asset type="symbol" id="FullScreenEnterButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.FullScreenEnterButtonNormal"></asset>
				<asset type="symbol" id="FullScreenEnterButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.FullScreenEnterButtonFocused"></asset>
				<asset type="symbol" id="FullScreenEnterButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.FullScreenEnterButtonDisabled"></asset>
			</button>
			<button id="FullScreenLeaveButton" alt="退出全屏">
				<asset type="symbol" id="FullScreenLeaveButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonNormal"></asset>
				<asset type="symbol" id="FullScreenLeaveButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonFocused"></asset>
				<asset type="symbol" id="FullScreenLeaveButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.FullScreenLeaveButtonDisabled"></asset>
			</button>
		</widget>		
		<widget id="SettingsButton" url="com.tudou.player.skin.themes.ykws.SettingsButton" style="float:right; width:40; height:40; " alt="设置">
			<asset type="symbol" id="SettingsButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.SettingsButtonNormal"></asset>
			<asset type="symbol" id="SettingsButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.SettingsButtonFocused"></asset>
			<asset type="symbol" id="SettingsButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.SettingsButtonPressed"></asset>
			<asset type="symbol" id="SettingsButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.SettingsButtonDisabled"></asset>
		</widget>
		<widget id="ToggleQualityButton" url="com.tudou.player.skin.themes.ykws.ToggleQualityButton" style="float:right; visible:false; width:50; height:40; ">
			<asset type="fontsymbol" id="SongTi" url="com.tudou.player.skin.themes.ykws.SongTi"></asset>
			<claritys>低清,标清,高清,超清,1080P</claritys>
			<asset type="symbol" id="ToggleQualityButtonNormal" state="Normal" fontColor="0xffffff" url="com.tudou.player.skin.themes.ykws.ToggleQualityButtonNormal"></asset>
			<asset type="symbol" id="ToggleQualityButtonFocused" state="Focused" fontColor="0xffffff"  url="com.tudou.player.skin.themes.ykws.ToggleQualityButtonFocused"></asset>
			<asset type="symbol" id="ToggleQualityButtonPressed" state="Pressed" fontColor="0xffffff"  url="com.tudou.player.skin.themes.ykws.ToggleQualityButtonPressed"></asset>
			<asset type="symbol" id="ToggleQualityButtonDisabled" state="Disabled" fontColor="0x999999"  url="com.tudou.player.skin.themes.ykws.ToggleQualityButtonDisabled"></asset>
			<extendarea id="ToggleQualityArea" style="visible:false; alpha:0; y:-91; width:50; height:88;">
				<asset type="symbol" id="ToggleQualityAreaButtonNormal" state="Normal" fontColor="0xffffff" url="com.tudou.player.skin.themes.ykws.ToggleQualityAreaButtonNormal"></asset>
				<asset type="symbol" id="ToggleQualityAreaButtonFocused" state="Focused" fontColor="0xffffff" url="com.tudou.player.skin.themes.ykws.ToggleQualityAreaButtonFocused"></asset>
				<asset type="symbol" id="ToggleQualityAreaButtonPressed" state="Pressed" fontColor="0xffffff" url="com.tudou.player.skin.themes.ykws.ToggleQualityAreaButtonPressed"></asset>
				<asset type="symbol" id="ToggleQualityAreaButtonDisabled" state="Disabled" fontColor="0x999999" url="com.tudou.player.skin.themes.ykws.ToggleQualityAreaButtonDisabled"></asset>
			</extendarea>
		</widget>
		<widget id="VolumeWidget" url="com.tudou.player.skin.themes.ykws.VolumeWidget" style="float:right; width:102; height:40; " alt="音量">
			<extendarea id="VolumeControlArea" style="float:right; width:59; height:10; y:15;">
				<sliderbar id="VolumeControlBar" style=" float:right;x:-10;width:60; height:10; background:url(com.tudou.player.skin.themes.ykws.VolumeSliderBarBackground)  repeat-x left top;">
					<asset type="symbol" id="VolumeSliderBarTracker" state="Track" url="com.tudou.player.skin.themes.ykws.VolumeSliderBarTracker"></asset>
					<asset type="symbol" id="VolumeSliderBarNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.VolumeSliderBarNormal"></asset>
					<asset type="symbol" id="VolumeSliderBarFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.VolumeSliderBarFocused"></asset>
					<asset type="symbol" id="VolumeSliderBarPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.VolumeSliderBarPressed"></asset>
					<asset type="symbol" id="VolumeSliderBarDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.VolumeSliderBarDisabled"></asset>
				</sliderbar>
			</extendarea>
			<button id="VolumeStep0" >
				<asset type="symbol" id="VolumeButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.Volume0ButtonNormal"></asset>
				<asset type="symbol" id="VolumeButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.Volume0ButtonFocused"></asset>
				<asset type="symbol" id="VolumeButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.Volume0ButtonPressed"></asset>
				<asset type="symbol" id="VolumeButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.Volume0ButtonDisabled"></asset>
			</button>
			<button id="VolumeStep1">
				<asset type="symbol" id="Volume1ButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.Volume1ButtonNormal"></asset>
				<asset type="symbol" id="Volume1ButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.Volume1ButtonFocused"></asset>
				<asset type="symbol" id="Volume1ButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.Volume1ButtonPressed"></asset>
				<asset type="symbol" id="Volume1ButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.Volume1ButtonDisabled"></asset>
			</button>
			<button id="VolumeStep2">
				<asset type="symbol" id="Volume2ButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.Volume2ButtonNormal"></asset>
				<asset type="symbol" id="Volume2ButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.Volume2ButtonFocused"></asset>
				<asset type="symbol" id="Volume2ButtonPressed" state="Pressed" url="com.tudou.player.skin.themes.ykws.Volume2ButtonPressed"></asset>
				<asset type="symbol" id="Volume2ButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.Volume2ButtonDisabled"></asset>
			</button>
		</widget>
		<widget id="DanmuButton" url="com.tudou.player.skin.themes.ykws.DanmuButton" style="float:right;  width:70; height:40; visible:false;">
			<asset type="symbol" id="Loading" url="com.tudou.player.skin.themes.ykws.Loading"></asset>
			<button id="DanmuOpenButton" alt="关闭弹幕">
				<asset type="symbol" id="DanmuOpenButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonNormal"></asset>
				<asset type="symbol" id="DanmuOpenButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonNormal"></asset>
				<asset type="symbol" id="DanmuOpenButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonDisabled"></asset>
			</button>
			<button id="DanmuCloseButton" alt="打开弹幕">
				<asset type="symbol" id="DanmuCloseButtonNormal" state="Normal" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonNormal"></asset>
				<asset type="symbol" id="DanmuCloseButtonFocused" state="Focused" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonNormal"></asset>
				<asset type="symbol" id="DanmuCloseButtonDisabled" state="Disabled" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonDisabled"></asset>
			</button>
			<button id="DanmuOpenButtonFull" alt="关闭弹幕">
				<asset type="symbol" id="DanmuOpenButtonNormalFull" state="Normal" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuOpenButtonFocusedFull" state="Focused" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuOpenButtonPressedFull" state="Pressed" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuOpenButtonDisabledFull" state="Disabled" url="com.tudou.player.skin.themes.ykws.DanmuOpenButtonDisabledFull"></asset>
			</button>
			<button id="DanmuCloseButtonFull" alt="打开弹幕">
				<asset type="symbol" id="DanmuCloseButtonNormalFull" state="Normal" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuCloseButtonFocusedFull" state="Focused" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuCloseButtonPressedFull" state="Pressed" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonNormalFull"></asset>
				<asset type="symbol" id="DanmuCloseButtonDisabledFull" state="Disabled" url="com.tudou.player.skin.themes.ykws.DanmuCloseButtonDisabledFull"></asset>
			</button>
		</widget>
	</bottomarea>
</skin>